.about-container {
  width: 650px;
  height: 350px;
  background-color: #ffffff54;
  box-shadow: 0 3px 13px 1px rgba(255, 255, 255, 0.833);
  border-radius: 15px;
  display: flex;
  margin-top: 50px;
}

.about-image {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.text-container {
  text-align: center;
  padding: 40px;
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  line-height: 1.5rem;
}

.name {
  color: #8338ec;
  font-size: 35px;
}

.charge {
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 20px;
}

.text {
  text-align: justify;
  font-size: 15px;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
  .about-container {
    display: block;
    width: 340px;
    height: 850px;
    margin: 30px auto;
  }

  .about-image {
    border-radius: 15px;
  }

  .name {
    line-height: 2rem;
  }
}
