.about-container {
  width: 650px;
  height: 350px;
  /* margin: 10px 50px 50px; */
  background-color: #ffffff54;
  box-shadow: 0 3px 13px 1px rgba(255, 255, 255, 0.833);
  border-radius: 15px;
  display: flex;
}

.about-image {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.text-container {
  text-align: center;
  padding: 40px;
  /* font-family: "Delius Swash Caps", cursive; */
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  line-height: 1.5rem;
}

.name {
  color: #8338ec;
  font-size: 35px;
}

.charge {
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 20px;
}

.text {
  text-align: justify;
  font-size: 15px;
}

/* ========== Medium Devices ==========

@media screen and (max-width: 1024px) {
  .about-container {
    height: 68vh;
  }
}

========== Small Devices ==========

@media screen and (max-width: 600px) {
  .about-container {
    height: 100vh;
  }
} ; */
