.contact-container {
  width: 600px;
  height: 260px;
  margin: 10px 10px 50px;
  background-color: #ffffff54;
  box-shadow: 0 3px 13px 1px rgba(255, 255, 255, 0.833);
  border-radius: 15px;
}

.contact-container h1 {
  font-family: "Delius Swash Caps", cursive;
  padding-top: 20px;
  padding-bottom: 20px;
}

.data-containers {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.data-container {
  width: 100px;
  height: 100px;
  border: 1px solid white;
  border-radius: 10px;
}

.data-container a {
  font-family: "Delius Swash Caps", cursive;
  text-decoration: none;
  font-size: 10px;
}

.data-container button {
  height: 25px;
  width: 80px;
  background-color: #ffd6ff;
  border: 1px solid white;
  border-radius: 5px;
}

.data-container button:hover {
  background-color: #ffffff54;
}
