.contact-container {
  width: 450px;
  height: 120px;
  background-color: #ffffff54;
  box-shadow: 0 3px 13px 1px rgba(255, 255, 255, 0.833);
  border-radius: 15px;
  margin-top: 30px;
}

.contact-container h1 {
  font-family: "Delius Swash Caps", cursive;
  text-align: center;
  font-size: 20px;
  color: #8338ec;
}

.data-containers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 90px;
}

.data-container {
  width: 85px;
  height: 85px;
  border: 1px solid white;
  border-radius: 10px;
}

.data-container a {
  font-family: "Delius Swash Caps", cursive;
  text-decoration: none;
  font-size: 10px;
}

.data-container button {
  height: 25px;
  width: 80px;
  background-color: #ffd6ff;
  border: 1px solid white;
  border-radius: 5px;
}

.data-container button:hover {
  background-color: #ffffff54;
}
