.experience-container {
  font-family: "Comfortaa", cursive;
}

.experience-containers {
  width: 354px;
  height: 450px;
  background-color: #ffffff54;
  box-shadow: 0 3px 13px 1px rgba(255, 255, 255, 0.833);
  border-radius: 15px;
  text-align: center;
  padding: 20px;
}

.experience-container h2 {
  color: #8338ec;
  margin-bottom: 10px;
}

.experience-container h6 {
  margin-bottom: 15px;
}

.experience-container p {
  text-align: justify;
  font-size: 15px;
  line-height: 1.5rem;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
  .experience-containers {
    width: 340px;
    margin: 0 auto 30px;
  }
}
