.projects-container {
  font-family: "Comfortaa", cursive;
  /* margin-bottom: 80px; */
}

.project-container {
  width: 354px;
  height: 330px;
  background-color: #ffffff54;
  box-shadow: 0 3px 13px 1px rgba(255, 255, 255, 0.833);
  border-radius: 15px;
  text-align: center;
  padding: 20px;
}

.project-container img {
  height: 150px;
  width: auto;
  border-radius: 15px;
  margin-bottom: 10px;
}

.project-container h2 {
  margin-bottom: 10px;
  color: #8338ec;
}

.project-container p {
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 1.5rem;
}

.project-button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-button-container button {
  height: 25px;
  width: 80px;
  background-color: #8338ec;
  border-radius: 5px;
  font-family: "Comfortaa", cursive;
  color: white;
  text-decoration: none;
  font-size: 10px;
}

.project-button-container button:hover {
  background-color: #ffffff54;
  color: #8338ec;
  cursor: pointer;
}

button:disabled {
  background-color: #dddddd;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
  .projects-container {
    margin-bottom: 60px;
  }

  .project-container {
    /* width: 340px; */
    width: 90%;
    height: auto;
    margin: 0 auto;
  }

  .project-container img {
    width: 100%;
    height: auto;
  }
}
