.skills-container {
  width: 450px;
  height: 200px;
  /* margin: 10px 10px 20px; */
  background-color: #ffffff54;
  box-shadow: 0 3px 13px 1px rgba(255, 255, 255, 0.833);
  border-radius: 15px;
  font-family: "Delius Swash Caps", cursive;
}

.skills-container h1 {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 25px;
  color: #8338ec;
}

.skills-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  padding-top: 5px;
}

.object {
  padding-left: 20px;
  display: flex;
  gap: 1rem;
  font-size: 13.5px;
}
