.App {
  background-image: linear-gradient(
    to right top,
    #ffd6ff,
    #fbd3ff,
    #f7d0ff,
    #f3cdff,
    #eecaff,
    #eac7ff,
    #e5c5ff,
    #e0c2ff,
    #dabfff,
    #d5bcff,
    #ceb9ff,
    #c8b6ff
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

/* @import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

h1 {
  /* font-family: "Pacifico", cursive; */
  /* font-family: "Lobster Two", cursive; */
  font-family: "Cookie", cursive;
}
