@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
  background-image: linear-gradient(
    to right top,
    #ffd6ff,
    #fbd3ff,
    #f7d0ff,
    #f3cdff,
    #eecaff,
    #eac7ff,
    #e5c5ff,
    #e0c2ff,
    #dabfff,
    #d5bcff,
    #ceb9ff,
    #c8b6ff
  );
}

/* h1 {
  max-width: 940px;
  font-size: 3em;
  font-family: "Cookie", cursive;
  line-height: 1.1;
  margin: 40px 0;
} */

.App {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* align-items: flex-start; */
  /* justify-content: center; */
  /* grid-template-columns: 120px 120px 120px; */
  text-align: center;
}

.main-container {
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
